/*******************************\

    # COLORS

\*******************************/
/*******************************\

    # LAYOUTS

\*******************************/
/*******************************\

    # SIZINGS

\*******************************/
/*******************************\

    # RESPONSIVE

\*******************************/
.content-areas {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
      grid-template-areas: "sub-block" "articles";
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: auto;
}

.content-areas .articles-block {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: articles;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0;
  width: auto;
  height: auto;
}

.content-areas .articles-block .tabbar-control {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 30px;
}

.content-areas .articles-block .tabbar-control .line-control {
  border-bottom: 1px solid black;
  margin-bottom: 0;
  margin-left: 54px;
  width: 100%;
}

.content-areas .articles-block .tabbar-control .line-control .trending {
  display: inline-block;
  width: 100px;
  margin-left: 0px;
  height: 20px;
  text-align: center;
}

.content-areas .articles-block .tabbar-control .line-control-color {
  border-bottom: 3px solid blue;
  margin-bottom: 0;
  margin-left: 54px;
  width: 100%;
}

.content-areas .articles-block .container-main {
  /*margin-top: .5em;*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
  width: 100%;
  height: auto;
}

.content-areas .articles-block .container-main .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding-left: 0;
  width: 100%;
  min-height: 200px;
  height: auto;
}

.content-areas .articles-block .container-main .container .img-container {
  position: relative;
  display: block;
  width: 25vw;
  height: auto;
}

.content-areas .articles-block .container-main .container .img-container .content-post-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-areas .articles-block .container-main .container .content-post-main {
  position: relative;
  padding-left: 2rem;
  width: 100%;
  height: auto;
}

.content-areas .articles-block .container-main .container .content-post-main .title-container {
  display: block;
  width: 100%;
}

.content-areas .articles-block .container-main .container .content-post-main .title-container .content-post-title {
  display: block;
  width: 100%;
  font-size: 2.5em;
}

.content-areas .articles-block .container-main .container .content-post-main .title-container .content-post-calendar {
  padding-left: .3em;
}

.content-areas .articles-block .container-main .container .content-post-main .title-container .content-post {
  display: block;
  margin-top: 1em;
  max-width: 300px;
}

.content-areas .sub-block {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sub-block;
  position: relative;
  display: block;
  margin-top: 60px;
}

.content-areas .sub-block .avatar-right-image {
  position: relative;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  opacity: 0.7;
  width: 100%;
  height: 30vh;
}

.content-areas .sub-block .content-avatar {
  /*border:1px solid red;*/
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 110;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 200px;
  text-align: center;
  color: white;
}

.content-areas .sub-block .content-avatar .content-avatar-title {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
}

.content-areas .sub-block .content-avatar .content-avatar-header {
  font-family: 'Pacifico', cursive;
  font-size: 1em;
}

/*Introduce*/
.introduce {
  width: 100%;
  height: 500px;
  background-image: url("../images/travel.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@font-face {
  .introduce {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
}

.introduce .shape {
  padding-top: 10px;
  padding-left: 10px;
}

.introduce .sign {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(ellipse 50% 35% at 50% 50%, #6b1839, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: .1em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  -webkit-animation: shine 2s forwards, flicker 3s infinite;
          animation: shine 2s forwards, flicker 3s infinite;
}

.introduce .sign .M {
  font-size: 3rem;
}

.introduce .sign .E {
  font-size: 2.5rem;
}

.introduce .sign .m {
  font-size: 2.5rem;
}

.introduce .sign .O {
  font-size: 2.5rem;
}

.introduce .sign .R {
  font-size: 2.5rem;
}

.introduce .sign .Y {
  font-size: 2.5rem;
}

@-webkit-keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.introduce .flicker {
  -webkit-animation: shine 2s forwards, blink 3s 2s infinite;
          animation: shine 2s forwards, blink 3s 2s infinite;
}

.introduce .fast-flicker {
  -webkit-animation: shine 2s forwards, blink 10s 1s infinite;
          animation: shine 2s forwards, blink 10s 1s infinite;
}

@-webkit-keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@-webkit-keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

.introduce h3 {
  text-align: center;
  padding-top: 4em;
  font-size: 3em;
  font-family: 'Pacifico', cursive;
  color: #ff9966;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.introduce h3 .M {
  color: #ff6600;
}

/*End Introduce*/
/*Post Slider*/
.page-wrapper {
  position: relative;
  height: 600px;
  margin-bottom: 3em;
}

.page-wrapper .post-slider .slider-title:hover {
  color: #3739F8;
}

.post-slider .slider-title {
  text-align: center;
  margin: 1em auto;
  font-family: 'Pangolin', cursive;
  font-size: 3em;
  margin-top: .2em;
}

.post-slider .post-wrapper {
  width: 85%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}

.page-wrapper .prev {
  position: absolute;
  top: 50%;
  left: 2em;
  cursor: pointer;
  font-size: 2em;
  color: #0080ff;
}

.page-wrapper .next {
  position: absolute;
  top: 50%;
  right: 2em;
  cursor: pointer;
  font-size: 2em;
  color: #0080ff;
}

.post-slider .post-wrapper .post {
  display: inline-block;
  width: 300px;
  height: 350px;
  margin: 0px .5em;
  background: #ffff;
  border-radius: .3em;
}

.post-slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 250px;
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  -webkit-box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
          box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .post-info {
  width: 100%;
  height: 100px;
  position: relative;
}

.post-slider .post-wrapper .post .post-info .post-title-slider {
  font-size: 1em;
  text-align: center;
  margin-top: .8em;
}

.post-slider .post-wrapper .post .post-info .admin {
  position: absolute;
  top: 40%;
  left: 1em;
}

.post-slider .post-wrapper .post .post-info .calendar {
  position: absolute;
  top: 40%;
  right: 1em;
}

/*End Post Slider*/
.featured {
  width: 100%;
  height: 800px;
}

@media (max-width: 767px) {
  .featured {
    height: 2000px;
  }
}

.featured .featured-title {
  text-align: center;
  margin-top: 4em;
  margin-bottom: -3em;
}

.featured .featured-title h4 {
  font-size: 3em;
  font-family: 'Pangolin', cursive;
}

.featured .featured-title:hover {
  color: #3739F8;
}

.featured .featured-theme {
  margin-top: 6em;
  width: 95%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2.5em;
}

@media (max-width: 767px) {
  .featured .featured-theme {
    display: block;
  }
}

.featured .featured-theme .theme {
  width: 350px;
  height: 600px;
  text-align: center;
  margin: .5em 2em auto 2em;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .featured .featured-theme .theme {
    width: 600px;
    border: 1px solid red;
  }
}

.featured .featured-theme .theme .theme-image:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.featured .featured-theme .theme .theme-image {
  width: 350px;
  height: 400px;
  z-index: 100;
  opacity: 0.6;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .featured .featured-theme .theme .theme-image {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .featured .featured-theme .theme .theme-image {
    width: 400px;
  }
}

.featured .featured-theme .theme .theme-issue {
  /*	border:1px solid red;*/
  width: 300px;
  height: 200px;
  position: absolute;
  top: 300px;
  left: 20px;
  z-index: 110;
  background: #fff;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .featured .featured-theme .theme .theme-issue {
    width: 225px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .featured .featured-theme .theme .theme-issue {
    width: 146px;
    height: 150px;
    top: 200px;
  }
}

@media (max-width: 767px) {
  .featured .featured-theme .theme .theme-issue {
    left: 150px;
  }
}

.featured .featured-theme .theme .theme-issue .theme-title:hover {
  color: #3739F8;
}

.featured .featured-theme .theme .theme-issue .theme-title {
  margin: 1em 0;
  font-size: 2em;
  font-family: 'Pacifico', cursive;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .featured .featured-theme .theme .theme-issue .theme-title {
    font-size: 1.3em;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .featured .featured-theme .theme .theme-issue .theme-title .theme-content {
    font-size: .5em;
  }
}

/*Responsive*/
@media only screen and (max-width: 750px) {
  /*Introduce*/
  .introduce {
    margin-top: 0;
    height: 350px;
  }
  .introduce h3 {
    text-align: center;
    padding-top: 6em;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    color: #ff9966;
  }
  .showingdown {
    margin-top: 13em;
  }
  .showingdown2 {
    margin-top: 18.6em;
  }
  /*End Introduce*/
  /*Post Slider*/
  .page-wrapper {
    position: relative;
  }
  .page-wrapper .prev {
    position: absolute;
    top: 60%;
    left: .5em;
  }
  .page-wrapper .next {
    position: absolute;
    top: 60%;
    right: .5em;
  }
  .post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    -webkit-box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
            box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
  }
  .post-slider .post-wrapper .post .post-info {
    width: 100%;
    height: 150px;
    position: relative;
  }
  .post-slider .post-wrapper .post .post-info .post-title-slider {
    font-size: 1em;
    text-align: center;
    margin-top: .7em;
  }
  .post-slider .post-wrapper .post .post-info .admin {
    position: absolute;
    top: 80%;
    left: .8em;
  }
  .post-slider .post-wrapper .post .post-info .calendar {
    position: absolute;
    top: 80%;
    right: .8em;
  }
  /*End Post Slider*/
}

@media only screen and (max-width: 1040px) {
  /*Post Slider*/
  .page-wrapper {
    position: relative;
  }
  .page-wrapper .prev {
    position: absolute;
    top: 60%;
    left: .8em;
  }
  .page-wrapper .next {
    position: absolute;
    top: 60%;
    right: .8em;
  }
  .post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    -webkit-box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
            box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
  }
  .post-slider .post-wrapper .post .post-info {
    width: 100%;
    height: 100px;
    position: relative;
  }
  .post-slider .post-wrapper .post .post-info .post-title-slider {
    font-size: 1em;
    text-align: center;
    margin-top: .5em;
  }
  .post-slider .post-wrapper .post .post-info .admin {
    position: absolute;
    top: 80%;
    left: .6em;
  }
  .post-slider .post-wrapper .post .post-info .calendar {
    position: absolute;
    top: 80%;
    right: .6em;
  }
  /*End Post Slider*/
  .featured .featured-theme .theme h4:hover {
    color: red;
  }
}

@media only screen and (max-width: 480px) {
  /*Post Slider*/
  .page-wrapper {
    position: relative;
  }
  .page-wrapper .prev {
    position: absolute;
    top: 60%;
    left: .4em;
  }
  .page-wrapper .next {
    position: absolute;
    top: 60%;
    right: .4em;
  }
  /*End Post Slider*/
  .featured .featured-theme .theme h4:hover {
    color: red;
  }
}

/*End Responsive*/
@media (min-width: 1080px) {
  .content-areas {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "articles sub-block";
  }
  .content-areas .articles-block .tabbar-control {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .content-areas .articles-block .container-main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .content-areas .articles-block .container-main .container {
    width: auto;
    max-width: 500px;
    height: auto;
    min-height: 200px;
  }
  .content-areas .articles-block .container-main .container .img-container {
    width: 15vw;
    height: auto;
  }
  .content-areas .articles-block .container-main .container .img-container .content-post-image {
    height: 200px;
  }
  .content-areas .articles-block .container-main .container .content-post-main {
    padding-left: 1rem;
    max-width: 300px;
  }
  .content-areas .articles-block .container-main .container .content-post-main .title-container {
    max-width: 300px;
  }
  .content-areas .articles-block .container-main .container .content-post-main .title-container .content-post-title {
    max-width: 300px;
    font-size: 1.8em;
  }
  .content-areas .sub-block .avatar-right-image {
    height: 640px;
  }
  .content-areas .sub-block .content-avatar {
    top: 200px;
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */