@import 'variables';

// Default for Mobiles and small tablets (without enough screen size)
.content-areas {
    position: relative;

    display: grid;
    column-gap: 1rem;
    grid-template-areas:
        "sub-block"
        "articles";

    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: auto;
    
    .articles-block {
        grid-area: articles;

        position: relative;
        
        display: flex;
        flex-direction: column;
        
        margin-right: 0;
        width: auto;
        height: auto;

        .tabbar-control {
            align-self: center;

            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 1rem;
            padding-right: 1rem;
            width: 100%;
            height: 30px;

            .line-control{
                border-bottom: 1px solid black;
                margin-bottom: 0;
                margin-left: 54px;
                width: 100%;

                .trending{
                    display: inline-block;
                    width: 100px;
                    margin-left: 0px;
                    height: 20px;
                    text-align: center;
                }
            }

            .line-control-color{
                border-bottom: 3px solid blue;
                margin-bottom: 0;
                margin-left: 54px;
                width: 100%;
            }
        }

        .container-main {
            /*margin-top: .5em;*/
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 1rem;
            row-gap: 1rem;

            padding: 1rem;
            width: 100%;
            height: auto;

            .container {
                position: relative;

                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                border: 1px solid rgba(0, 0, 0, 0.4);
                padding-left: 0;
                width: 100%;
                min-height: 200px;
                height: auto;

                .img-container {
                    position: relative;
                    display: block;
            
                    width: 25vw;
                    height: auto;
                    
                    .content-post-image{
                        position: relative;
                        width: 100%;
                        height: 100%;
                    }
                }

                .content-post-main {
                    position: relative;

                    padding-left: 2rem;
                    width: 100%;
                    height: auto;

                    .title-container {
                        display: block;
                
                        width: 100%;
                        
                        .content-post-title{
                            display: block;

                            width: 100%;
                        
                            font-size: 2.5em;
                        }
                
                        .content-post-calendar{
                            padding-left: .3em;
                        }

                        .content-post{
                            display: block;
                        
                            margin-top: 1em;
                            max-width: 300px;
                        }
                    }
                }
            }
        }
    }

    .sub-block {
        grid-area: sub-block;

        position: relative;

        display: block;

        margin-top: 60px;

        .avatar-right-image{
            position: relative;
            display: block;
    
            background: rgba(0,0,0,0.7);
            z-index: 100;
            opacity: 0.7;
            width: 100%;
            height: 30vh;
        }

        .content-avatar{
            /*border:1px solid red;*/
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 110;
            
            transform: translate(-50%, -50%);
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            width: 50%;
            height: 200px;
    
            text-align: center;
            color: white;
    
            .content-avatar-title{
                font-family: 'Dancing Script', cursive;
                font-size: 4em;
            }
    
            .content-avatar-header{
                font-family: 'Pacifico', cursive;
                font-size: 1em;
            }
        }
    }
}

/*Introduce*/

.introduce{
	width: 100%;
    height: 500px;
    // background: rgba(7, 119, 239, 0.25);
    @font-face {
	  font-family: Clip;
	  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
	}
    background-image: url('../images/travel.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
	background-position: center;
	
	.shape {
		padding-top: 10px;
		padding-left: 10px;
	}
    
	.sign {
	    position: absolute;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 50%;
	    height: 50%;
	    background-image: radial-gradient(
		    ellipse 50% 35% at 50% 50%,
		    #6b1839,
		    transparent
	    );
	    transform: translate(-50%, -50%);
	    letter-spacing: 2;
	    left: 50%;
	    top: 50%;
	    font-family: "Clip";
	    text-transform: uppercase;
	    font-size: .1em;
	    color: #ffe6ff;
	    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
	    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
	    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
	    animation: shine 2s forwards, flicker 3s infinite;
	    .M{
	    	font-size: 3rem;
	    }
	    .E{
	    	font-size: 2.5rem;
	    }
	    .m{
	    	font-size: 2.5rem;
	    }
	    .O{
	    	font-size: 2.5rem;
	    }
	    .R{
	    	font-size: 2.5rem;
	    }
	    .Y{
	    	font-size: 2.5rem;
	    }
	}

    @keyframes blink {
	    0%,
	    22%,
	    36%,
	    75% {
		    color: #ffe6ff;
		    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
	        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
	        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
	    }
		28%,
		33% {
		    color: #ff65bd;
		    text-shadow: none;
	    }
		82%,
		97% {
		    color: #ff2483;
		    text-shadow: none;
        }
    }

	.flicker {
	  animation: shine 2s forwards, blink 3s 2s infinite;
	}

	.fast-flicker {
	  animation: shine 2s forwards, blink 10s 1s infinite;
	}

	@keyframes shine {
	  0% {
	    color: #6b1839;
	    text-shadow: none;
	  }
	  100% {
	    color: #ffe6ff;
	    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
	      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
	      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
	  }
	}

    @keyframes flicker {

    from {
        opacity: 1;
    }

	4% {
	   opacity: 0.9;
	}

    6% {
      opacity: 0.85;
    }

	8% {
	  opacity: 0.95;
	}

	10% {
	  opacity: 0.9;
	}

    11% {
      opacity: 0.922;
    }

    12% {
      opacity: 0.9;
    }

    14% {
     opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

  //   .shape{
  //   	position: absolute;
  //       z-index: 99;
  //       img{
  //       	height: 50px;
		// 	width: 50px;
		// 	position: absolute;
  //       }
  //       img:nth-child(1){
  //       	top: 50px;
		// 	left: 100px;
		// 	transform: translate(0, 0);
		// 	animation: eagle 10s ease-in infinite;
  //       }
  //       @keyframes flight {
		// 	  0% {
		// 	    transform: translate(0,0);
		// 	  }
		// 	  50% {
		// 	    transform: translate(500px, 50px);
		// 	  }
		// 	  55% {
		// 	    transform: rotateY(180deg) translate(-540px, 45px);
		// 	  }
		// 	  95% {
		// 	    transform: rotateY(180deg) translate(40px, 45px);
		// 	  }
		// 	  100% {
		// 	    transform: translate(0,0) rotateY(0deg);
		// 	  }
		// }
  //   }
}

.introduce h3{
	text-align: center;	
	padding-top: 4em;
	font-size: 3em;
	font-family: 'Pacifico', cursive;
	color: #ff9966;
	transform: scale(1.3);
	.M{
		// -webkit-transition: all 1s ease-in-out;
		// -moz-transition: all 1s ease-in-out;
		// -o-transition: all 1s ease-in-out;
		// transition: all 1s ease-in-out;
	}
}

.introduce h3 .M{
	color: #ff6600;
}

/*End Introduce*/

/*Post Slider*/
.page-wrapper{
	position: relative;
	height: 600px;
	margin-bottom: 3em;
	// border:1px solid red;
	.post-slider{
		.slider-title:hover{
			color: #3739F8;
		}
	}
}

.post-slider .slider-title{
	text-align: center;
	margin: 1em auto;
	font-family: 'Pangolin', cursive;
	font-size:3em;
	margin-top: .2em;
}
.post-slider .post-wrapper{
	width: 85%;
	height: 350px;
	margin: 0px auto;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
}

.page-wrapper .prev{
	position: absolute;
	top: 50%;
	left: 2em;
	cursor: pointer;
	font-size: 2em;
	color: #0080ff; 
}

.page-wrapper .next{
	position: absolute;
	top: 50%;
	right: 2em;
	cursor: pointer;
	font-size: 2em;
	color: #0080ff; 
}

.post-slider .post-wrapper .post{
	display: inline-block;
	width: 300px;
	height: 350px;
	margin: 0px .5em;
    background: #ffff;
    border-radius: .3em;
}

.post-slider .post-wrapper .post .slider-image{
	width: 100%;
	height: 250px;
	border-top-left-radius: .3em;
	border-top-right-radius: .3em;
	box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .post-info{
	width: 100%;
	height: 100px;
	position: relative;
}

.post-slider .post-wrapper .post .post-info .post-title-slider{
	font-size: 1em;
	text-align: center;
	margin-top: .8em;
}

.post-slider .post-wrapper .post .post-info .admin{
	position: absolute;
	top: 40%;
	left: 1em;
}

.post-slider .post-wrapper .post .post-info .calendar{
	position: absolute;
	top: 40%;
	right: 1em;
}
/*End Post Slider*/

//Featured

.featured{
    // border: 1px solid red;
	width: 100%;
	height: 800px;

	@include mobile {
		height: 2000px;
	}

	.featured-title{
		text-align: center;
		//border:1px solid red;
		margin-top: 4em;
		margin-bottom: -3em;
		h4{
			font-size: 3em;
			font-family: 'Pangolin', cursive;
		}
	}
	.featured-title:hover{
		color: #3739F8;
	}
}

.featured .featured-theme{
	margin-top: 6em;
	// border:1px solid green;
	width: 95%;
	height: 600px;
	display: flex;
	justify-content: center;
	margin-left: 2.5em;
	@include mobile {
		display: block;
	}
}

.featured .featured-theme .theme{
	width: 350px;
	height: 600px;
	text-align: center;
	margin: .5em 2em auto 2em;
	position: relative;
	overflow: hidden;	
	@include mobile {
		width: 600px;
		border:1px solid red;
	}

	.theme-image:hover{
		transform: scale(1.3);
	}
}

.featured .featured-theme .theme .theme-image{
	width: 350px;
	height: 400px;
	z-index: 100;
	opacity: 0.6;
	transition: all 1s ease;

	@include tablet {
		height: 300px;
	}

	@include mobile {
		width: 400px;
	}
}

.featured .featured-theme .theme .theme-issue{
/*	border:1px solid red;*/
	width: 300px;
	height: 200px;
	position: absolute;
	top: 300px;
	left: 20px;
	z-index: 110;
	background: #fff;
	@include desktop {
		width: 225px;

	}

	@include tablet {
		width: 146px;
		height: 150px;
		top: 200px;
	}

	@include mobile {
		left: 150px;
	}

	.theme-title:hover{
		color: #3739F8;
	}

}
.featured .featured-theme .theme .theme-issue .theme-title{
	margin: 1em 0;
	font-size: 2em;
	font-family: 'Pacifico', cursive;
	@include tablet {
		font-size: 1.3em;
	}

	.theme-content{
		@include tablet {
			font-size: .5em;
		}
	}
}

//End Featured

/*Responsive*/

@media only screen and (max-width: 750px){
    /*Introduce*/
	.introduce{
		margin-top: 0;
		height: 350px;
    }

    .introduce h3{
		text-align: center;	
		padding-top: 6em;
		font-size: 1.5em;
		font-family: 'Pacifico', cursive;
		color: #ff9966;
    }

    .showingdown{
    	margin-top: 13em;
    }

    .showingdown2{
    	margin-top: 18.6em;
    }

    /*End Introduce*/

    /*Post Slider*/

	.page-wrapper{
		position: relative;
	}

    .page-wrapper .prev{
		position: absolute;
		top: 60%;
		left: .5em;
	}

    .page-wrapper .next{
		position: absolute;
		top: 60%;
		right: .5em;
	}

	.post-slider .post-wrapper .post .slider-image{
		width: 100%;
		height: 200px;
		border-top-left-radius: .3em;
		border-top-right-radius: .3em;
		box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
	}

	.post-slider .post-wrapper .post .post-info{
		width: 100%;
		height: 150px;
		position: relative;
	}

	.post-slider .post-wrapper .post .post-info .post-title-slider{
		font-size: 1em;
		text-align: center;
		margin-top: .7em;
	}

	.post-slider .post-wrapper .post .post-info .admin{
		position: absolute;
		top: 80%;
		left: .8em;
	}

	.post-slider .post-wrapper .post .post-info .calendar{
		position: absolute;
		top: 80%;
		right: .8em;
	}

    /*End Post Slider*/
}

@media only screen and (max-width: 1040px){
	/*Post Slider*/

	.page-wrapper{
		position: relative;
	}

    .page-wrapper .prev{
		position: absolute;
		top: 60%;
		left: .8em;
	}

    .page-wrapper .next{
		position: absolute;
		top: 60%;
		right: .8em;
	}

	.post-slider .post-wrapper .post .slider-image{
		width: 100%;
		height: 200px;
		border-top-left-radius: .3em;
		border-top-right-radius: .3em;
		box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
	}

	.post-slider .post-wrapper .post .post-info{
		width: 100%;
		height: 100px;
		position: relative;
	}

	.post-slider .post-wrapper .post .post-info .post-title-slider{
		font-size: 1em;
		text-align: center;
		margin-top: .5em;
	}

	.post-slider .post-wrapper .post .post-info .admin{
		position: absolute;
		top: 80%;
		left: .6em;
	}

	.post-slider .post-wrapper .post .post-info .calendar{
		position: absolute;
		top: 80%;
		right: .6em;
	}

	/*End Post Slider*/

	//featured
	.featured{
		.featured-theme{
			.theme{
				h4:hover{
					color: red;
			}
		}
	}
	//End featured
}
}

@media only screen and (max-width: 480px){
	/*Post Slider*/
	.page-wrapper{
		position: relative;
	}

    .page-wrapper .prev{
		position: absolute;
		top: 60%;
		left: .4em;
	}

    .page-wrapper .next{
		position: absolute;
		top: 60%;
		right: .4em;
	}
	/*End Post Slider*/

	// Featured
	.featured{
		.featured-theme{
			.theme{
				h4:hover{
					color: red;
				}
			}
		}
	}
	//End Reatured
}

/*End Responsive*/

// With enough Screen sizes: All other Device types
@media (min-width: 1080px) {
    .content-areas {
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
            "articles sub-block";

        .articles-block {
            .tabbar-control {
                justify-content: flex-start;
            }

            .container-main {
                grid-template-columns: 1fr 1fr;
    
                .container {
                    width: auto;
                    max-width: 500px;
                    height: auto;
                    min-height: 200px;

                    .img-container {
                        width: 15vw;
                        height: auto;

                        .content-post-image {
                            height: 200px;
                        }
                    }

                    .content-post-main {
                        padding-left: 1rem;
                        max-width: 300px;

                        .title-container {
                            max-width: 300px;

                            .content-post-title {
                                max-width: 300px;

                                font-size: 1.8em;
                            }
                        }
                    }
                }
            }
        }

        .sub-block {
            .avatar-right-image {
                height: 700px - 60px;
            }

            .content-avatar {
                top: 200px;

                width:100%;
            }
        }
    }
}