/*******************************\

    # COLORS

\*******************************/

$color-light-blue: #add8e6;
$color-grey-text: rgba(0, 0, 0, 0.8);
$color-light-grey: rgba(0, 0, 0, 0.5);
$color-background: white;
$color-background-grey: rgba(0, 0, 0, 0.1);
$color-dark-blue: #192841;
$color-light-white: rgba(255, 255, 255, 0.8);

/*******************************\

    # LAYOUTS

\*******************************/
$border-radius: 5px;